version: '3.9'

# Define services
services:
  # App backend service
  configservice:
    build:
      context: .
      dockerfile: dockerfile-config-service
      args:
        VERSION: 0.1.0
    environment:
      KAFKA_BOOTSTRAP_SERVERS: ${KAFKA_BOOTSTRAP_SERVERS}
    restart: always
    ports:
    - 8986:8986

  ingestionservice:
    build:
      context: .
      dockerfile: dockerfile-ingestion-service
      args:
        VERSION: 0.1.0
    environment:
      CASSANDRA_KEYSPACE: ${CASSANDRA_KEYSPACE}
      CASSANDRA_USER: ${CASSANDRA_USER}
      CASSANDRA_PASSWORD: ${CASSANDRA_PASSWORD}
      CASSANDRA_CONTACT_POINTS: ${CASSANDRA_CONTACT_POINTS}
      CASSANDRA_PORT: ${CASSANDRA_PORT}
      KAFKA_BOOTSTRAP_SERVERS: ${KAFKA_BOOTSTRAP_SERVERS}
      KAFKA_TS_EVENT_GROUP_ID: ${KAFKA_TS_EVENT_GROUP_ID}
      KAFKA_CONFIG_EVENT_GROUP_ID: ${KAFKA_CONFIG_EVENT_GROUP_ID}
      KAFKA_CONFIG_AUTO_OFFSET_RESET: ${KAFKA_CONFIG_AUTO_OFFSET_RESET}
      KAFKA_TS_EVENT_AUTO_OFFSET_RESET: ${KAFKA_TS_EVENT_AUTO_OFFSET_RESET}
      KAFKA_MAX_CONCURRENCY: ${KAFKA_MAX_CONCURRENCY}
      KAFKA_TS_EVENT_TOPIC_PARTITIONS: ${KAFKA_TS_EVENT_TOPIC_PARTITIONS}
      KAFKA_TS_EVENT_TOPIC_REPLICATIONS: ${KAFKA_TS_EVENT_TOPIC_REPLICATIONS}
      KAFKA_CONFIG_TOPIC_PARTITIONS: ${KAFKA_CONFIG_TOPIC_PARTITIONS}
      KAFKA_CONFIG_TOPIC_REPLICATIONS: ${KAFKA_CONFIG_TOPIC_REPLICATIONS}
      KAFKA_ALARM_TOPIC_PARTITIONS: ${KAFKA_ALARM_TOPIC_PARTITIONS}
      KAFKA_ALARM_TOPIC_REPLICATIONS: ${KAFKA_ALARM_TOPIC_REPLICATIONS}
      KAFKA_ALARM_NOTI_TOPIC_PARTITIONS: ${KAFKA_ALARM_NOTI_TOPIC_PARTITIONS}
      KAFKA_ALARM_NOTI_TOPIC_REPLICATIONS: ${KAFKA_ALARM_NOTI_TOPIC_REPLICATIONS}
    restart: always

  coreservice:
    build:
      context: .
      dockerfile: dockerfile-core-service
      args:
        VERSION: 0.1.0
    environment:
      CASSANDRA_KEYSPACE: ${CASSANDRA_KEYSPACE}
      CASSANDRA_USER: ${CASSANDRA_USER}
      CASSANDRA_PASSWORD: ${CASSANDRA_PASSWORD}
      CASSANDRA_CONTACT_POINTS: ${CASSANDRA_CONTACT_POINTS}
      CASSANDRA_PORT: ${CASSANDRA_PORT}
    restart: always
    ports:
      - 7001:7001

  httptransportservice:
    build:
      context: .
      dockerfile: dockerfile-http-transport-service
      args:
        VERSION: 0.1.0
    environment:
      CASSANDRA_KEYSPACE: ${CASSANDRA_KEYSPACE}
      CASSANDRA_USER: ${CASSANDRA_USER}
      CASSANDRA_PASSWORD: ${CASSANDRA_PASSWORD}
      CASSANDRA_CONTACT_POINTS: ${CASSANDRA_CONTACT_POINTS}
      CASSANDRA_PORT: ${CASSANDRA_PORT}
      KAFKA_CONFIG_EVENT_GROUP_ID: ${KAFKA_CONFIG_EVENT_HTTP_GROUP_ID}
      KAFKA_BOOTSTRAP_SERVERS: ${KAFKA_BOOTSTRAP_SERVERS}
      KAFKA_CONFIG_AUTO_OFFSET_RESET: ${KAFKA_CONFIG_AUTO_OFFSET_RESET}
    restart: always
    ports:
      - 8043:8043