
server.port: 8086
server.error.include-message: always

spring:
  profile:
    active: prod

  data:
    cassandra:
      keyspace-name: reecotech
      username: cassandra
      password: cassandra
      contact-points: 118.69.53.93
      port: 9042
      local-datacenter: datacenter1
      request:
        timeout: PT50S
      connection:
        connect-timeout: PT20S
        init-query-timeout: PT20S
      controlconnection:
        timeout: PT20S

  jackson:
    time-zone: Asia/Ho_Chi_Minh
    serialization:
      write_dates_as_timestamps: false

  kafka.producer.properties.spring.json.add.type.headers: false
  kafka.consumer.properties.spring.json.trusted.packages: "*"

kafka:
  bootstrap-servers: 118.69.53.93:29092 #118.69.53.93:29092

  consumer:
    event:
      topic-in: reeco_time_series_event
      group-id: reeco_time_series_event_cg
      auto-offset-reset: earliest
      max-concurency: 1

    config:
      topic-in: reeco_config_event
      group-id: reeco_config_cg
      auto-offset-reset: earliest
      max-concurency: 1

  producer:
    key-serializer: org.apache.kafka.common.serialization.StringSerializer
    value-serializer: org.apache.kafka.common.serialization.ByteArraySerializer

# profile dev
  topics:
    event-topic:
      name: reeco_time_series_event
      properties: "retention.ms:432000000;segment.bytes:26214400;retention.bytes:1048576000"

    config-topic:
      name: reeco_config_event
      properties: "retention.ms:432000000;segment.bytes:26214400;retention.bytes:1048576000"


logging:
  level:
    root: INFO
    com.reeco: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} ${LOG_LEVEL_PATTERN:-%5p} %m%n"


eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka

