server.port: 8003

server.error.include-message: always

spring:
  data:
    cassandra:
      keyspace-name: reecotech
      #      username: cassandra
      #      password: cassandra
      contact-points: 118.69.53.93
      port: 9042
      local-datacenter: datacenter1
      request:
        timeout: 15s
      connection:
        init-query-timeout: 15s
  #  datasource:
  #    username: ari
  #    password: password
  #    url: jdbc:postgresql://118.69.53.93:8081/postgres

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

kafka:
  bootstrap-servers: 118.69.53.93:29092 #118.69.53.93:29092

  consumer:
    event:
      topic-in: reeco_time_series_event
      group-id: reeco_time_series_event_cg
      auto-offset-reset: earliest
      max-concurency: 1

    config:
      topic-in: reeco_config_event
      group-id: reeco_config_cg
      auto-offset-reset: earliest
      max-concurency: 1

  producer:
    key-serializer: org.apache.kafka.common.serialization.StringSerializer
    value-serializer: org.apache.kafka.common.serialization.ByteArraySerializer

  # profile dev
  topics:
    event-topic:
      name: reeco_time_series_event
      properties: "retention.ms:432000000;segment.bytes:26214400;retention.bytes:1048576000"

    config-topic:
      name: reeco_config_event
      properties: "retention.ms:432000000;segment.bytes:26214400;retention.bytes:1048576000"
