server.port: 7002

server.error.include-message: always

spring:
  data:
    cassandra:
      keyspace-name: ${CASSANDRA_KEYSPACE:reecotech}
      username: ${CASSANDRA_USER:cassandra}
      password: ${CASSANDRA_PASSWORD:cassandra}
      contact-points: ${CASSANDRA_CONTACT_POINTS:localhost}
      port: ${CASSANDRA_PORT:9042}
      local-datacenter: datacenter1
      request:
        timeout: 15s
      connection:
        init-query-timeout: 15s


  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB














