server:
  port: 8986

  error.include-message: always
#
#spring:
#  application:
#    name: devices-service
spring:
  jackson:
    serialization:
      write_dates_as_timestamps: false

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} ${LOG_LEVEL_PATTERN:-%5p} %m%n"

#eureka:
#  client:
#    serviceUrl:
#      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka}
#  instance:
#    preferIpAddress: true

#springdoc:
#  version: '@springdoc.version@'

kafka:
  bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:29092} #118.69.53.93:29092

  producer:
    key-serializer: org.apache.kafka.common.serialization.StringSerializer
    value-serializer: org.apache.kafka.common.serialization.ByteArraySerializer

  # profile dev
#  topics:
#    config-topic:
#      name: reeco_config_event
#      properties: "retention.ms:432000000;segment.bytes:26214400;retention.bytes:1048576000"
#      partitions: 1
#      replications: 1
